absl_py==0.15.0
beautifulsoup4==4.12.2
boto3==1.28.44
botocore==1.31.44
docx==0.2.4
FastNLP==1.0.1
fastNLP==1.0.1
filelock==3.12.2
h5py==3.9.0
huggingface_hub==0.14.1
importlib_metadata==6.7.0
matplotlib==3.5.3
numpy==1.21.6
packaging==23.1
pandas==1.3.5
pdfplumber==0.9.0
Pillow==9.5.0
protobuf==3.20.3
pyofd==0.1.6
python_docx==0.8.11
PyYAML==6.0.1
PyYAML==6.0.1
regex==2023.8.8
Requests==2.31.0
sacremoses==0.0.53
safetensors==0.3.3
scikit_learn==1.0.2
scipy==1.7.3
sentencepiece==0.1.99
tokenizer==3.4.3
tokenizers==0.13.3
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.64.1
typing_extensions==4.7.1
xlrd==2.0.1
